---
import Layout from "@layouts/Layout.astro";
import "@style/gallery.scss";
---

<Layout title="gallery">
  <div>
    <h1>Work in progress...</h1>
  </div>
</Layout>

<style>
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
