---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../style/tags-page.scss";

const posts = await getCollection("blogs");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<Layout title="Tags">
  <h1>Tags</h1>
  <main>
    <div class="tags">
      {
        tags.map((tag) => (
          <p class="tag">
            <a href={`/den/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </main>
</Layout>
