---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "@style/tags-page.scss";

const posts = await getCollection("blogs");
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
const baseUrl = import.meta.env.BASE_URL;
---

<Layout title="Tags">
  <Header />
  <h1>Tags</h1>
  <main>
    <div class="tags">
      <div class="tags-padding">
        {
          tags.map((tag) => (
            <p class="tag">
              <a href={`${baseUrl}/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
    </div>
  </main>
  <Footer />
</Layout>
