---
import Layout from "../layouts/Layout.astro";
import pfp from "../assets/images/gideon-graves-scott-pilgrim.gif";
import idle from "../assets/images/no-song-playing.png";

import "../style/home.scss"
---

<Layout title="Rogue's Den">
  <div class="logo">
    <h1>Rogue's Den</h1>
  </div>

  <div class="terminals">
    <main>
      <div class="title">
        <h2>Welcome to my smol little den</h2>
        <hr />
      </div>
      <div class="row-1">
        <div class="pfp">
          <div class="pfp-border">
            <img src={pfp.src} alt="Profile Picture" />
          </div>
        </div>

        <div class="info">
          <ul>
            <li>Name's Ali, but I prefer to go by Rogue.</li>
            <li>I love linux && the commandline</li>
            <li>I know a little bout programming</li>
          </ul>
        </div>
      </div>

      <div class="row-2">
        <hr />
        Yet another computer science student with small dreams. Hoping that he can
        one day, achieve what he wants. Stuck in a never ending loop of self doubt,
        impostor syndrome, and lots of other negative stuff.
        <br />
        <br />
        Only just recently been taking this stuff seriously(kinda). Learning bit
        by bit, step by step, slowly but surely... he'll get there.
        <br />
        <br />
      </div>
    </main>

    <div class="status" id="status">
      <span> Fetching </span>
      <i class="fa-solid fa-spinner fa-spin-pulse"></i>
    </div>

    <nav>
      <ul>
        <li>
          <i class="fa-solid fa-house" style="color: #74d97d"></i>
          <a href="/den/index.html">$HOME</a>
        </li>
        <li>
          <i class="fa-solid fa-question" style="color: #767676"></i>
          <a href="/den/whoami/">whoami</a>
        </li>
        <li>
          <i class="fa-solid fa-rss" style="color: #e66100"></i>
          <a href="/den/blogs/">blogs(WIP)</a>
        </li>
        <li>
          <i class="fa-regular fa-images" style="color: #96a33a"></i>
          <a href="/den/gallery/">gallery(WIP)</a>
        </li>
        <li>
          <i class="fa-brands fa-gitlab" style="color: #e7952d"></i>
          <a href="https://gitlab.com/rogue-87">gitlab</a>
        </li>
        <li>
          <i
            class="fa-brands fa-github"
            style="color: black; background-color: white; border-radius: 16px"
          ></i>
          <a href="https://github.com/rogue-87">github</a>
        </li>
        <li>
          <i class="fa-brands fa-twitter" style="color: #3584e4"></i>
          <a href="https://twitter.com/rogue_cmd">twitter</a>
        </li>
        <li>
          <i class="fa-brands fa-steam" style="color: ##05183c"></i>
          <a href="https://steamcommunity.com/id/rogue1987/">steam</a>
        </li>
      </ul>
    </nav>

    <div class="music-log" id="musicLog">
      <div class="song-info">
        <div>
          <i class="fa-solid fa-music"></i>
          <div class="song">...</div>
        </div>
        <div>
          <i class="fa-solid fa-user"></i>
          <div class="artist">...</div>
        </div>
      </div>
      <div class="song-album">
        <a href="#">
          <img src={idle.src} alt="idle" />
        </a>
      </div>
    </div>
  </div>

  <script src="../scripts/status.js"></script>
</Layout>
