@forward "abstracts/";

body {
  display: flex;
  flex-direction: column;
}

header > div {
  width: 65% !important;
}

h1 {
  text-align: center;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.blogs {
  border-radius: 5px;
  width: 65%;
  background-color: var(--bg-clr-1);
  border: 2px solid var(--border-clr-1);
  > #{&}-padding {
    padding: 16px;
  }
  h3 {
    text-align: center;
  }
  ul {
    padding: inherit;
    margin: initial;
  }
}

@media (20em <= width <= 30em) and (orientation: portrait) {
  .blogs {
    width: 92%;
  }
}
