@forward "abstracts/";

body {
  display: flex;
  flex-direction: column;
}

header > div {
  width: 65% !important;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  place-content: center;
  border-radius: 0.3rem;
  background-color: var(--bg-clr-1);
  border: 2px solid var(--border-clr-1);

  > #{&}-padding {
    padding: 16px;
  }
}

.tag {
  margin: 0.25em;
  border: solid 2px var(--border-clr-1);
  border-radius: 0.5em;
  background-color: var(--bg-clr-2);
  padding: 0.5em 1em;
  font-size: 1.15em;
}

@media (20em <= width <= 30em) and (orientation: portrait) {
  .tags {
    width: 92%;
  }
}
