@use "./abstracts/" as *;

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > div {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    border-radius: 0.3rem;
    width: clamp(400px, 85dvw, 800px);
    background-color: var(--bg-clr-1);
    border: 2px solid var(--border-clr-1);
  }
}

.tag {
  margin: 0.25em;
  border: solid 2px var(--border-clr-1);
  border-radius: 0.5em;
  background-color: var(--bg-clr-2);
  padding: 0.5em 1em;
  font-size: 1.15em;
}

@media (20em <= width <= 30em) and (orientation: portrait) {
  main > div {
    width: 87dvw;
  }
}
