---
interface Props {
  url: string;
  title: string;
  date: Date | string | undefined;
  desc: string;
}

const { url, title, date, desc } = Astro.props;
---

<li>
  <div><a href={url}>{title}</a></div>
  <div>{desc}</div>
  <div>Posted on {date}</div>
</li>

<style lang="scss">
  li {
    position: relative;
    width: 100%;
    list-style-type: disc;
    margin-bottom: 16px;
    div {
      font-size: 1.2rem;
      &:nth-child(3) {
        color: var(--fg-clr-3);
        text-align: end;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      background-color: var(--border-clr-1);
      width: 100%;
      height: 2px;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
      &::before {
        display: none;
      }
    }
  }
</style>
