---
interface Props {
  url: string;
  title: string;
  date: string;
}

const { url, title, date } = Astro.props;
---

<li>
  <div><a href={url}>{title}</a></div>
  <div>Posted on {date}</div>
</li>

<style lang="scss">
  li {
    position: relative;
    width: 100%;
    list-style-type: disc;
    margin-bottom: 1rem;
    div {
      font-size: 1.2rem;
      &:nth-child(2) { text-align: end; }
      /*  look at this. wow, skill issue */
      /* 
      width: 100%;
      &:nth-child(2) {
        display: flex;
        justify-content: end;
      } */
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      background-color: gray;
      width: 100%;
      height: 2px;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
      &::before {
        display: none;
      }
    }
  }
</style>
