---

---

<header>
  <div>
    <ul>
      <li>
        <i class="fa-solid fa-house" style="color: #74d97d"></i>
        <a href="/den/">$HOME</a>
      </li>
      <li>
        <i class="fa-solid fa-question" style="color: #767676"></i>
        <a href="/den/about/">whoami</a>
      </li>
      <li>
        <i class="fa-solid fa-rss" style="color: #e66100"></i>
        <a href="/den/blogs/">blogs</a>
      </li>
      <li>
        <i class="fa-solid fa-cubes" style="color: #5e5c64;"></i>
        <a href="/den/projects">projects</a>
      </li>
    </ul>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 4px;
    div {
      width: 75%;
    }
  }

  ul {
    display: flex;
    gap: 16px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
    }
  }
  @media (20em <= width <= 30em) and (orientation: portrait) {
    header {
      justify-content: center;
      div {
        width: initial !important;
      }
    }
  }
</style>
