---
const baseUrl = import.meta.env.BASE_URL;
---

<header>
  <nav>
    <ul>
      <li>
        <i class="fa-solid fa-house" style="color: #74d97d"></i>
        <a href={baseUrl}>$HOME</a>
      </li>
      <li>
        <i class="fa-solid fa-question" style="color: #767676"></i>
        <a href={`${baseUrl}/about`}>whoami</a>
      </li>
      <li>
        <i class="fa-solid fa-rss" style="color: #e66100"></i>
        <a href={`${baseUrl}/blogs`}>blogs</a>
      </li>
      <li>
        <i class="fa-solid fa-cubes" style="color: #5e5c64;"></i>
        <a href={`${baseUrl}/projects`}>projects</a>
      </li>
    </ul>
    <button class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    align-items: center;
    margin: 16px 0;
    width: 75%;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--fg-clr-2);
  }

  @media screen and (320px <= width <= 480px) {
    header {
      justify-content: end;
    }

    nav{
      width: auto !important;
    }

    ul {
      position: fixed;
      left: -100%;
      top: 60px;
      flex-direction: column;
      background-color: var(--bg-clr-2);
      border: 2px solid var(--border-clr-1);
      border-radius: 6px;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      gap: 32px;
      padding: 32px 0;
      z-index: 1;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }

    nav {
      margin: 16px;
      width: initial;

      &:focus-within {
        ul {
          left: 0;
        }
      }
    }
  }
</style>
